*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    border: 0px;
    outline: none;
    background: transparent;
    user-select: none;
    letter-spacing: 1.6px;
    
}

body{
    background-color: #222;

}